* {
	box-sizing: border-box;
	font-family: helvetica;
	margin:0;
	padding: 0;


}

	body {
		background-color: #EBEBEB;
	}





/*  dispositivos grandes  */

@media (min-width: 992px) {

	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {

		float: left;
	
		

	}

	.col-lg-1 {
		width: 8.33%;
	}

	.col-lg-2 {
		width: 16.66%;
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-4 {
		width: 33%;
	}

	.col-lg-5 {
		width: 41.66%;
	}

	.col-lg-6 {
		width: 50%;
	}

	.col-lg-7 {
		width: 58.33%;
	}

	.col-lg-8 {
		width: 66.66%;
	}

	.col-lg-9 {
		width: 74.99%;
	}

	.col-lg-10 {
		width: 83.33%;
	}

	.col-lg-11 {
		width: 91.66%;
	}

	.col-lg-12 {
		width: 100%;
	}


	.info-size-lg {
		/* width: 40%;
		margin-left: 30%; */
	}

	.cabecera-size-lg {
		
		margin-left: 36%;
	}

	/* Info redes web tamaño escritorio   */

	/*
	.link-fb  {
		margin-right:  10px;
		margin-bottom: 20px;
	}

	.link-insta {
		margin-left: 10px;
		margin-bottom: 20px;
	}



	.fb {
	
	width: 50%;
	float: left;
	
	}

	.insta {
	width: 50%;
	float: right;
	}

	.link-fb {
	float: right;
	}


	.link-insta {
		float: left;
	}




	.link-you  {
		margin-right:  10px;
	}

	.link-web {
		margin-left: 10px;
	}



	.you {
	
	width: 50%;
	float: left;
	
	}

	.web {
	width: 50%;
	float: right;
	}

	.link-you {
	float: right;
	}


	.link-web {
		float: left;
	}


*/

}
 

/*  dispositivos medianos  */

@media (min-width: 768px) and (max-width: 991px) {

	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {

		float: left;
		

	}

	.col-md-1 {
		width: 8.33%;
	}

	.col-md-2 {
		width: 16.66%;
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-4 {
		width: 33%;
	}

	.col-md-5 {
		width: 41.66%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-7 {
		width: 58.33%;
	}

	.col-md-8 {
		width: 66.66%;
	}

	.col-md-9 {
		width: 74.99%;
	}

	.col-md-10 {
		width: 83.33%;
	}

	.col-md-11 {
		width: 91.66%;
	}

	.col-md-12 {
		width: 100%;
	}



	.info-size-md {
		/* width: 100%; */
	}


	.cabecera-size-md {
		
		margin-left: 33%;
	}



/* Info redes web tamaño escritorio   */


/*
	.link-fb  {
		clear: both;
		margin-left: 28%;
		margin-bottom: 20px;
	}

	.link-insta {
		margin-left: 28%;
		margin-bottom: 20px;
	}


	.link-you  {
		clear: both;
		margin-left: 28%;
		margin-bottom: 20px;
	}

	.link-web {
		margin-left: 28%;
	}

	*/




} 





@media (max-width: 767px) {



	.cabecera-size-lg {
		
		margin-left: 10%;
	}


/*

	.fb {
	clear: both;

	margin-bottom: 20px;
	
	
	}

	.insta {
	
	clear: both;
	margin-bottom: 20px;

	}

	.link-fb {
		margin-left: 6%;
	}

	.link-insta {
		margin-left: 6%;
	}



	.you {
	clear: both;

	margin-bottom: 20px;
	
	
	}

	.web {
	
	clear: both;

	}

	.link-you {
		margin-left: 6%;
	}

	.link-web {
		margin-left: 6%;
	}

*/


/* Agrupacion de menu flotante de funciones: llamar, wapp, cita y guardar   */
	.col-ch-3 {
		float: left;
		width: 25%;
	}

	.col-ch-4 {
		float: left;
		width: 33%;
	}

	.col-ch-6 {
		float: left;
		width: 50%;
	}
}








/* ESTILO */





.contenedor {
	height: 100px;
	width: 100%;

	background-color: white;

	position: fixed;
	z-index: 100;
	box-shadow: 0px 0px 2px 1px #C6C5C5;


	

}

.cabecera {
	position: relative;
	height: 100px;

	
}

.cabecera > img {
	float: left;
	margin-right: 20px;
	margin-top: 20px;

}

.cabecera > p {
	font-size: 120%;
	padding-top: 30px;

	float: left;

}

.calificacion {
	margin:0;
	padding: 0;
	
	position: absolute;
	left: 80px;
	top: 53px;
	



}

.calificacion > p {
	font-size: 12px;

}

.calificacion a:link {
	color: black;
	font-size: 10px;
}




.info-contenedor {

	padding-top: 100px;

}

.info {
	
	position: relative;
	text-align: center;




	
} 

.info > img {
	margin-top: 40px;


}


.info > p {
	font-size: 12px;
	margin-bottom: 10px;
	
	
	
	
}

.calificacion-asesor  a:link {
	color: black;
	font-size: 12px;

} 

.calificacion-asesor {
	margin-bottom: 20px;
}

.descripcion-asesor > p {
	margin-bottom: 30px;


}



.cont-prop-1 {
	
	width: 50%;
	float: left;
	position: relative;
		margin-bottom: 50px;
}

.cont-prop-2 {

	width: 50%;
	float: left;
	margin-bottom: 50px;
}


.prop-venta {
	background-color: white;
	width: 180px;
	height: 180px;
	border-radius: 30px;
	float: right;
	margin-right: 10px;
	box-shadow: 0px 0px 2px 1px #C6C5C5;
	
	
}

.prop-venta-link {
	margin-top: 20px;
}

.prop-venta-link > a {
	text-decoration: none;
	color: black;

}

.titulo-producto {
	margin-top: 5px;
}

.prop-venta-link > p {
	font-size: 12px;
	padding-top: 5px;
}

.prop-renta {
	background-color: white;
	width: 180px;
	height: 180px;
	border-radius: 30px;
	margin-left: 10px;
	box-shadow: 0px 0px 2px 1px #C6C5C5;
	
}

.prop-renta-link {
	padding-top: 20px;
}


.prop-renta-link > a {
	text-decoration: none;
	color: black;
}

.prop-renta-link > p {
	font-size: 12px;
	padding-top: 5px;
}











/*  Info redes y web  */



.contenedor-info-redes- {
	clear: both;

}

.link-fb {
	height: 70px;
	
	background-color: white;
	border-radius: 20px;
	margin: 10px;
	
}

.link-fb > img {
	float: left;
	margin-left: 30px;
	margin-top: 10px;
}

.link-fb > a {
	float: left;
	color: black;
	text-decoration: none;
	margin-top: 10px;
	margin-left: 10px;



}

.usuario-fb > a {
	float: left;
	color: black;
	text-decoration: none;
	margin-top: 27px;
	margin-left: 5px;

}



.ver-fb {
	float: right;
	margin-top: 24px;
	margin-right: 25px;

}	






.link-insta {
	
	height: 70px;
	background-color: white;
	border-radius: 20px; 
	margin: 10px;
}

.usuario-insta > a {
	float: left;
	color: black;
	text-decoration: none;
	margin-top: 27px;
	margin-left: 5px;

}

.link-insta > a {
	float: left;
	margin-top: 10px;
	margin-left: 15px;
	color: black;
	text-decoration: none;

}	






.ver-insta   {
	float: right;
	margin-top: 24px;
	margin-right: 20px;
	/* margin-bottom: 25px;  Revisar el margin afecta al pie de pagina  */
	
}





.link-you {
	height: 70px;
	
	background-color: white;
	border-radius: 20px;
	margin: 10px;
}


.usuario-you > a {
	float: left;
	color: black;
	text-decoration: none;
	margin-top: 27px;
	margin-left: 5px;

}

.link-you > a {
	float: left;
	margin-top: 12px;
	margin-left: 20px;
	color: black;
	text-decoration: none;

}	

.link-you > img {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.link-you > p {
	float: left;
	margin-top: 28px;
	margin-left: 15px;


}

.ver-you {
	float: right;
	margin-top: 24px;
	margin-right: 25px;

}	





.link-web {
	height: 70px;
	;
	background-color: white;
	border-radius: 20px;
	margin-bottom: 50px;
	margin: 10px;
}


.usuario-web > a {
	float: left;
	color: black;
	text-decoration: none;
	margin-top: 27px;
	margin-left: 5px;
	font-size: 14px;

}



.link-web > a {
	float: left;
	margin-top: 12px;
	margin-left: 20px;
	color: black;
	text-decoration: none;
	

}	

.link-web > img {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.link-web > p {
	float: left;
	margin-top: 28px;
	margin-left: 15px;



}

.ver-web {
	float: right;
	margin-top: 24px;
	margin-right: 25px;

}	







/*  Menu flotante funciones  */


.menu-funciones {
	width: 100%;
	height: 15%;
	background-color: white;
	clear: both;
	position: fixed;
	z-index: 100;
	top: 89%;
	box-shadow: 0px 0px 2px 1px #C6C5C5;
	padding-top: 10px;
}



.whats > a {
	font-size: 10px;
	text-decoration: none;
	color: black;
} 

.cita > p {
	font-size: 10px;
}
.guardar > p {
	font-size: 10px;
}






/* Pie de Página    */


.pie-pag {
	background-color: #FDFDFD ;
	clear: both;
	height: 230px;
	margin-top: 30px;
	box-shadow: 0px 0px 2px 1px #C6C5C5;
	



}

.link-ayuda > a {
	
	color: #6E6E6E;
	font-size: 12px;
	padding: 5%;



}

.pie-pag > p {
	color: #6E6E6E;
	font-size: 12px;
	padding-top: 15px;
}


